.firstModuleScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--global-height);
  background: linear-gradient(160deg, #3db9fb 50%, #fff 50%);
}

.navContainer {
  width: 100%;
}

.formControl {
  display: flex;
  justify-content: center;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 95%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.sectionInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.alertTitle,
.alert {
  margin: 0;
}

.title {
  font-size: 18px;
}

.alertTitle {
  color: #222;
  font-size: 18px;
}

.alert {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 10px;
  margin-right: 10px;
}

.alertGroup {
  display: flex;
  align-items: center;
}

.sectionData {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.sectionData > * {
  margin: 6px;
}

.sectionData label,
.sectionData input {
  font-size: 18px;
  line-height: 1.6;
}

.customInput {
  border: none;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  height: 38px;
  padding-left: 15px;
}

.customInput::placeholder {
  color: #000000;
  font-family: "Outfit", sans-serif;
}

/* Estilos para ToggleSwitch */
.switchFirstModule {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  margin-bottom: 15px;
}

.switchFirstModule input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderFirstModule {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.sliderFirstModule:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 8px;
  background-color: #484c52;
  transition: 0.4s;
  border-radius: 50%;
}

.switchFirstModule input:checked + .sliderFirstModule {
  background-color: #eff303;
}

.switchFirstModule input:focus + .sliderFirstModule {
  box-shadow: 0 0 1px #2196f3;
}

.switchFirstModule input:checked + .sliderFirstModule:before {
  transform: translateX(26px);
}

.antecedentesContainer {
  margin-top: 20px;
  width: 100%;
}

.antecedentesTitle {
  text-align: center;
  margin-bottom: 10px;
}

.antecedentesTable {
  width: 100%;
  border-collapse: collapse;
}

.antecedentesTable,
.antecedentesTable th,
.antecedentesTable td {
  border: 1px solid #ddd;
}

.antecedentesTable td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.antecedentesContainer input {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.6;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .firstModuleScreenContainer {
    padding: 10px;
  }

  .navContainer {
    width: 100%;
  }

  .formControl {
    width: 100%;
  }

  .sectionForm {
    width: 100%;
    padding: 10px;
  }

  .sectionData {
    flex-direction: column;
    align-items: flex-start;
  }

  .sectionData > * {
    width: 100%;
    margin: 5px 0;
  }

  .switch {
    width: 45px;
    height: 25px;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
  }

  .switch input:checked + .slider:before {
    transform: translateX(21px);
  }
}

/* Estilos para tablets en modo paisaje */
@media (min-width: 769px) and (max-width: 1024px) {
  .sectionData {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sectionData > * {
    width: 48%;
  }

  .switch {
    width: 55px;
    height: 28px;
  }

  .slider:before {
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
  }

  .switch input:checked + .slider:before {
    transform: translateX(24px);
  }
}
