.firstModuleScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--global-height);
  background: linear-gradient(160deg, #3db9fb 50%, #fff 50%);
}

.navContainer {
  width: 100%;
}

.formControl {
  display: flex;
  justify-content: center;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 95%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.sectionInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.alertTitle,
.alert {
  margin: 0;
}

.title {
  font-size: 18px;
}

.alertTitle {
  color: #222;
  font-size: 18px;
}
.alertGroup {
  display: flex;
  align-items: center;
}

.alert {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 10px;
  margin-right: 10px;
}
/* Estilo para fourthModuleStyle */

.formFourthModule {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  height: auto;
}

.recienNacidoSelect,
.inputNumberFourth {
  width: 100%;
  padding: 10px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .centered-content {
    width: 100%;
  }
  .formularioFourthModule {
    width: 100%;
  }
  .recienNacidoSelect,
  .inputNumberFourth {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .formularioFourthModule {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.formularioFourthModule {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;
  margin-bottom: 10px;
}

.formularioFourthChildren {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: center;
}
.recienNacidoSelect,
.inputNumberFourth {
  width: 100%;
  height: 100%;
}

.containerButtonFourth {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.containerButtonFourth button {
  margin-left: 15px;
}

.ButtonEnviarFourth {
  padding: 1%;
  background-color: #3db9fb;
  color: white;
  border: none;
  font-family: "Outfit", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 20%;
  background-position: center;
}

.ButtonCancelFourth {
  padding: 1%;
  background-color: #fe2f2f;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  width: 20%;
  background-position: center;
  margin-left: 10px;
}

/* Toggle Switch CSS */
.switchFirstModule {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
}

/* Ajustar el tamaño para pantallas más pequeñas */
@media (max-width: 768px) {
  .switchFirstModule {
    width: 45px;
    height: 25px;
  }
}

.switchFirstModule input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderFirstModule {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.sliderFirstModule:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #484c52;
  transition: 0.4s;
  border-radius: 50%;
}

/* Ajustar el tamaño para pantallas más pequeñas */
@media (max-width: 768px) {
  .sliderFirstModule:before {
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
  }
}

.switchFirstModule input:checked + .sliderFirstModule {
  background-color: #eff303;
}

.switchFirstModule input:focus + .sliderFirstModule {
  box-shadow: 0 0 1px #2196f3;
}

.switchFirstModule input:checked + .sliderFirstModule:before {
  transform: translateX(26px);
}

/* Ajustar el tamaño para pantallas más pequeñas */
@media (max-width: 768px) {
  .switchFirstModule input:checked + .sliderFirstModule:before {
    transform: translateX(21px);
  }
}
