nav {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3db9fb;
}

.logo img {
  max-height: 50px;
  cursor: pointer;
}

.signout-btn,
.closeExpedienteButton {
  background-color: #fff;
  color: #222;
  font-family: "Outfit", sans-serif;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.signout-btn:hover {
  background-color: #ec0505;
  color: #fff;
}

.closeExpedienteButton {
  margin-left: 20px;
  background-color: #eb7c9c;
  color: #fff;
}

.closeExpedienteButton:hover {
  background-color: #ec0505;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .signout-btn,
  .closeExpedienteButton {
    margin-top: 10px;
  }
}
