/* Estilos para StatisticsComponent */
.statisticsScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--global-height);
  background: linear-gradient(160deg, #3db9fb 50%, #fff 50%);
}

/* Contenedor de la barra de navegación */
.navContainer {
  width: 100%;
}

/* Contenedor de control de estadísticas */
.formControlStadistic {
  display: flex;
  justify-content: center;
  width: 95%;
}

/* Contenedor de la sección de ID y gráfico */
.sectionContainerId {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

/* Contenedor para los gráficos */
.chartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* permite que los elementos se envuelvan si no hay espacio suficiente */
  gap: 20px; /* Espaciado entre gráficos */
}

.graficEnfermedades {
  width: 550px;
  height: 400px;
}

.graficAborto {
  margin-right: 150px;
}

/* Estilos para la barra de gráficos */
#myPartoAbortoChart {
  max-width: 400px;
  max-height: 400px;
  margin: 10px; /* Margen alrededor de cada gráfico */
}

#myBarChart {
  max-width: 550px;
  max-height: 480px;
}

.label {
  font-size: 16px;
}

.title {
  font-size: 24px;
}

/* Estilos responsivos para pantallas menores de 768px */
@media (max-width: 768px) {
  .sectionContainerId {
    width: 100%;
    padding: 10px 20px;
  }
  .formControlStadistic,
  .navContainer {
    width: 100%;
  }
  .statisticsScreenContainer {
    padding: 10px;
  }
}
